<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.movie.mapper.MovieMapper">

	    <!-- 영화 목록 가져오기 -->
    <select id="getMovieList" parameterType="int" resultType="com.project.movie.domain.Movie">
		SELECT
			`id`
			,`title`
			,`director`
			,`opendate`
			,`imagepath`
			,`createdAt`
			,`updatedAt`
		FROM
			`movie`
    </select>


  <!-- 영화 제목으로 영화 목록 가져오기 -->
   <select id="getMovieByTitle" parameterType="String" resultType="com.project.movie.domain.Movie">
        SELECT
            `id`,
            `title`,
            `director`,
            `opendate`,
            `imagepath`,
            `createdAt`,
            `updatedAt`
        FROM
            `movie`
        WHERE
            `title` =#{title}
    </select> 

<select id="getMovieById" parameterType="int" resultType="com.project.movie.domain.Movie">
    SELECT
        `id`,
        `title`,
        `director`,
        `opendate`,
        `imagepath`,
        `createdAt`,
        `updatedAt`
    FROM
        movie
    WHERE
        `id` =#{movieId}
</select>

<select id="selectMovieListByKeyword" resultType="com.project.movie.domain.Movie">
    SELECT

		 `id`,
        `title`,
        `director`,
        `opendate`,
        `imagepath`,
        `createdAt`,
        `updatedAt`
    FROM
     	`movie`
    WHERE 
    	`title` LIKE CONCAT('%', #{keyword}, '%')
    	ORDER BY `title`
    	LIMIT 1
</select>



<select id="selectMovieList" parameterType="map" resultType="com.project.movie.domain.Movie">
	SELECT
		 `id`,
        `title`,
        `director`,
        `opendate`,
        `imagepath`,
        `createdAt`,
        `updatedAt`
	FROM
			`movie`
		WHERE
			<if test="direction == 'next'">
			<![CDATA[
			AND `id` < #{standardId}
			]]>
			ORDER BY `id` DESC
			</if>
			<if test="direction == 'prev'">
			<![CDATA[
			AND `id` > #{standardId}
			]]>
			</if>
			<if test="direction == null">
			ORDER BY `id` DESC
			</if>
		LIMIT ${limit}
	</select>
	
		<select id="selectMovieIdByAsSort" parameterType="map" resultType="int">
		SELECT
			`id`
		FROM
			`movie`                                                    
		ORDER BY id ${sort}
    	LIMIT 1
	</select>
</mapper>
