<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/defaultLayout}">
<section layout:fragment="content"
	class="contents d-flex justify-content-center">
	<div class="w-50">
		<h1>영화 리뷰 게시판</h1>

		<table class="table">
			<thead>
				<tr>
					<th>No</th>
					<th>영화 제목</th>
					<th>작성자</th>
					<th>리뷰 내용</th>
					<th>별점</th>
					<th>작성날짜</th>
					<th>수정날짜</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="post : ${postList}">
					<td th:text="${post.id}">1</td>
					<td><a th:href="|/post/post-detail-view?postId=${post.id}|"
						th:text="${post.title}"></a></td>
					<td><a th:href="|/post/post-detail-view?postId=${post.id}|"
						th:text="${session.userLoginId}"></a></td>
					<td th:text="${post.content}"></td>
					<td th:text="${post.point}"></td>
					<td	th:text="${#temporals.format(post.createdAt, 'yyyy년 M월 d일 HH:mm:ss')}"></td>				
					<td th:text="${#temporals.format(post.updatedAt, 'yyyy년 M월 d일 HH:mm:ss')}"></td>
				</tr>
				<div class="d-flex">
					<select id="searchType" class="form-control">
					    <option value="">검색 내용 선택</option>
					    <option value="title">영화 제목</option>
					    <option value="user">작성자</option>
					    <option value="rating">별점 순</option>
					</select>
					<input type="text" id="searchKeyword" class="form-control col-9 ml-3" placeholder="검색어 입력">
					<button class="btn btn-light ml-1" type="button" id="search">검색</button>
				</div>
			</tbody>
		</table>

		<!-- 페이징 -->
		<div class="text-center">
			<a th:if="${prevId != 0}" th:href="|/post/post-list-view?prevId=${prevId}|" class="mr-5">&lt;&lt; 이전</a>
			<a th:if="${nextId != 0}" th:href="|/post/post-list-view?nextId=${nextId}|">다음 &gt;&gt;</a>
		</div>

		<!-- 글쓰기 버튼  -->
		<div class="d-flex justify-content-end">
			<a href="/post/post-create-view" class="btn btn-warning">글쓰기</a>
		</div>
	</div>
</section>

<th:block layout:fragment="script">
	<script>
		$(document).ready(function(){
		    $("#search").on('click', function(e){
		        let searchType = $("#searchType").val();
		        let searchKeyword = $("#searchKeyword").val().trim();
				alert(searchKeyword);
				alert(searchType);
		        if ( searchKeyword && searchType) {
		            // 검색 요청을 보냄
		            window.location.href = "/post/post-list-view?searchType=${searchType}&searchKeyword=${searchKeyword}searchKeyword";
		        } else {
		            alert("검색 조건을 선택하고 검색어를 입력하세요.");
		        }
		    });
		});
	</script>
</th:block>