<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/defaultLayout}">

<section layout:fragment="content"
	class="contents d-flex justify-content-center align-items-center">
	<section class="col-10 bg-light">
		<div class="col-3 d-flex align-items-end">
			<div class="input-group mb-2">
				<input type="text" id="searchKeyword" class="form-control"
					placeholder="영화를 검색하세요">
				<div class="input-group-append">
					<button id="search" class="btn btn-light" type="button" >검색</button>
				</div>
			</div>
		</div>
		<table class="table text-center">
			<thead>
				<tr>
					<th>영화</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td th:each="movie : ${movieList}">
						<a th:href="|/post/post-create-view?movieId=|" + post.movieId;>
						<img th:src="${movie.imagepath}"
						class="img-thumbnail mx-2" style="width: 150px; height: 150px;">
						</a>
					</td>
				</tr>
			</tbody>
		</table>

	</section>
</section>

<th:block layout:fragment="script">
	<script>
		$(document).ready(function() {
			$("#search").on('click', function(e) {
				e.preventDefault();
				//alert(movieId);
				//th:data-movie-Id="${movie-Id}"
				//let movieId = $(this).data("movie-Id");
				let keyword = $("#searchKeyword").val().trim();
				//let movieId = $(this).data("movie-id");
				if (keyword) {
					$.ajax({
						type : "POST",
						url: "/movie/movie-list-view"  
						,data : {"keyword" : keyword}
						,success : function(data) {
							if (data.code == 200) {
								location.href = "/movie/movie-detail-view?movieId=" + data.movieId;
							} else {
								// 영화가 존재하지 않는 경우 에러 메시지 표시
								alert(data.error_message);
							}
						},
						error : function(e) {
							alert("일치 하는 영화가 없습니다.");
						}
					});
				} else {
					alert("검색어를 입력해주세요.");
				}
			});
		});
	</script>
</th:block>
</html>