<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/defaultLayout}">

<section layout:fragment="content"
	class="contents d-flex justify-content-center align-items-center">
	<section class="col-10 bg-light">
		<div class="col-3 d-flex align-items-end">
			<div class="input-group mb-2">
				<input type="text" class="form-control">
				<div class="input-group-append">
					<button class="btn btn-light" type="button">검색</button>
				</div>
			</div>
		</div>
		<table class="table text-center">
			<thead>
				<tr>
					<th>영화</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="movie : ${movieList}">
					<td th:text="${movie.imagepath}"></td>
					<!-- <td><a th:href="@{/post/post-detail-view(postId=${post.id}, userId=13)}" th:text="${post.subject}"></a></td> -->
					<!-- <td><a th:href="|/post/post-detail-view?postId=${post.id}|" th:text="${post.subject}"></a></td> -->
				</tr>
			</tbody>
		</table>
	</section>
</section>
</section>
<th:block layout:fragment="script">
	<script>
		$(document).ready(function() {
			$()
		});
	</script>
</th:block>