<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/defaultLayout}">
<section layout:fragment="content"
	class="contents d-flex justify-content-center align-items-center">
	<section class="col-10 bg-light">
		<div class="col-3 d-flex align-items-end">
			<div class="input-group mb-2">
				<input type="text" class="form-control">
				<div class="input-group-append">
					<button class="btn btn-light" type="button">검색</button>
				</div>
			</div>
		</div>
		<div class="d-flex justify-content-between">
			<article class="media-box">
				<img
					src="http://marondal.com/material/images/dulumary/web/front/bootstrap/test05_best1.jpg"
					alt="영상1">
			</article>
			<article class="media-box">
				<img
					src="http://marondal.com/material/images/dulumary/web/front/bootstrap/test05_best1.jpg"
					alt="영상1">
			</article>
			<article class="media-box">
				<img
					src="http://marondal.com/material/images/dulumary/web/front/bootstrap/test05_best1.jpg"
					alt="영상1">
			</article>
			<article class="media-box">
				<img
					src="http://marondal.com/material/images/dulumary/web/front/bootstrap/test05_best1.jpg"
					alt="영상1">
			</article>
		</div>
	</section>
</section>
</section>

<th:block layout:fragment="script">
	<script>
		
	</script>
</th:block>