<html xmlns:th="http://www.thymeleaf.org">
<header th:fragment="headerFragment">
	<div class="h-100 d-flex justify-content-between align-items-center">
		<!-- 로고 영역 -->
		<div class="d-flex">
			<h1>MovieReview</h1>
			<h2 class="ml-3">리뷰 게시판</h2>
		</div>
		<!-- 로그인 영역 -->
		<div th:if="${session.userId != null}">
			<span th:text="${session.userName} +'님 안녕하세요'"></span> 
				<a href="/user/sign-out" class="font-weight-bold">로그아웃</a>
		</div>
		<div th:unless="${session.userId != null}">
			<a href="/user/sign-in-view" class="font-weight-bold">로그인</a>
		</div>
	</div>
</header>